{% extends "base.html" %}

{% block content %}

<h1>Blog Posts</h1>
{% for post in posts %}
    <div class="card mb-2">
        <div class="card-body bg-light p-3">
            <div class="d-flex">
                <img src="{{ post.author.profile.image.url }}" class="rounded-circle" alt="Profile Picture"
                    style="width: 35px; height: 35px; object-fit: cover; margin-right: 10px;">
                <h3><a href="{% url 'post-detail' post.pk %}">{{ post.title }}</a></h3>
            </div>
            <h6>
                {% for category in post.categories.all %}
                {{ category.name }}
                {% endfor %}
            </h6>
            <p>by {{ post.author }} on {{ post.date_posted }}</p>

            <p class="mb-0">{{ post.content|truncatewords:30 }}</p>
        </div>
    </div>
{% endfor %}
{% endblock %}