{% extends "base.html" %}

{% block content %}
  <h2>{% if form.instance.pk %}Update Post{% else %}New Post{% endif %}</h2>  
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      {{ form.title.label_tag }}
      {{ form.title }}
    </div>
    <div class="d-flex">
      <div class="form-group d-flex">
        <p>Categories</p>
        {{ form.categories }}
      </div>
      <div class="form-group d-flex">
        <p>Tags</p>
        {{ form.tags }}
      </div>
    </div>
    <div class="form-group">
      {{ form.content.label_tag }}
      {{ form.content }}
    </div>    
    <button type="submit" class="btn btn-primary">{% if form.instance.pk %}Update{% else %}Post{% endif %}</button>  
  </form>
  {% if form.instance.pk %}
    <form method="post" action="{% url 'post-delete' pk=form.instance.pk %}" style="display:inline;">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>
  {% endif %}
{% endblock %}