<footer class="text-white bg-dark text-center text-lg-start mt-4">
  <div class="container p-4">
    <!-- Section: Links -->
    <section class="">
      <div class="row">
        <!-- Column -->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">About Us</h5>
          <p>
            Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
            consectetur adipisicing elit.
          </p>
        </div>
        <!-- Column -->

        <!-- Column -->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">OtrosLinks</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Privacy Policy</a>
            </li>
            <li>
              <a href="#!" class="text-white">Terms of Service</a>
            </li>
            <li>
              <a href="#!" class="text-white">Contact Us</a>
            </li>
            <li>
              <a href="#!" class="text-white">Help</a>
            </li>
          </ul>
        </div>
        <!-- Column -->

        <!-- Column -->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Mail</h5>
          <form>
            <div class="form-group">
              <input type="email" class="form-control" id="newsletterEmail" placeholder="Enter your email">
            </div>
            <button type="submit" class="btn btn-primary">Subscribe</button>
          </form>
        </div>
        <!-- Column -->
      </div>
    </section>
    <!-- Section: Links -->
  </div>

  <!-- Copyright -->
  <div class="text-center p-3 bg-dark text-white">
    © 2024 Copyright:
    <a class="text-white" href="#">Blog.com</a>
  </div>
  <!-- Copyright -->
</footer>

<!-- Font Awesome -->
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
